body {
  color: white;
  background-image: url('/img/tweed.png');
  background-repeat: repeat-x repeat-y;
}

.hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 0px;
  max-width: 0px;
  max-height: 0px;
}

h1,
h2,
h3 {
    text-align:center;
}

#mainView {
  background-color: purple;
}

#launchpad,
#trackDetails {
  padding: 20px;
}

#launchpad {
  text-align: center;
  background-color: blue;
}

#trackDetails {
  background-color: red;
}

.squareContainer {
  display: inline;
}

.square {
  margin: 3px;
}

.selectedSquare {
  border-style: solid;
  border-color: yellow;
  border-width: 4px;
}

button {
  color: black;
}
