/* Top Elements */

body {
  color: white;
  background-image: url('/img/tweed.png');
  background-repeat: repeat-x repeat-y;
}

.hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 0px;
  max-width: 0px;
  max-height: 0px;
}

h1,
h2,
h3 {
    text-align: center;
}

/* Parent Elements */

#mainView {
  padding: 14px;
  background-color: purple;
}

#launchpad,
#trackDetails {
  padding: 20px;
}

#launchpad {
  text-align: center;
  background-color: blue;
}

#trackDetails {
  text-align: center;
  background-color: red;
}

/* Launchpad Elements */

.square {
  margin: 3px;
  display: inline;
}

.lastSquare {
  margin: 3px;
  display: block;
}

.selectedSquare {
  border-style: solid;
  border-color: yellow;
  border-width: 2px;
  margin: 1px;
}

/* Trackdetails Elements */

.albumArt {
  float: left;
}

p {
  font-size: 20px;
}

button {
  font-size: 20px;
  margin-top: 20px;
  color: black;
  width: 100%;
  height: 40px;
}
